* {
    font-family: monospace;
    color: white;
}

body {
    background-color: #101010;
    /*background: linear-gradient(to bottom, #000000, #101010, #101010, #101010);*/
    background-image: url(./imagenes/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* Logo principal si */

@keyframes logoOppacity {
    from {opacity: 0; transform: translateY(-20px);}
    to {opacity: 100; transform: translateY(0px);}
}

.logo-principal {
    display: flex;
    justify-content: center;
    padding: 25px;
}

.logo-principal img{
    width: 900px;
    max-width: 100%;
    height: auto;
    animation-name: logoOppacity;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}


/* menu sushis */

.sushis1, .sushi-section{
    display: flex;
    justify-content: center;
}

.sushis1 {
    padding-bottom: 100px;
}

.sushi-section {
    color: red;
    font-size: 25px;
}

.sushis1 table {
    width: 75%;
    table-layout: fixed;
}

.food img {
    width: 100%;
    max-width: 500px;
    height: auto;
}