* { 
    font-family: monospace;
    color: white;
}

body {
    background-color: #101010;
    /*background: linear-gradient(to bottom, #000000, #101010, #101010, #101010);*/
    /*background-image: url(./imagenes/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/
}


/* Logo principal si */

@keyframes logoOppacity {
    from {opacity: 0; transform: translateY(-20px);}
    to {opacity: 100; transform: translateY(0px);}
}

.logo-principal {
    display: flex;
    justify-content: center;
    padding: 25px;
}

.pescados {
    position: fixed;
    right: 0;
    opacity: 0.5;
    filter: blur(1px);
    z-index: -1;
}

.pescados img{
    width: 100%;
}

.bamboo {
    position: fixed;
    left: 0;
    opacity: 0.5;
    filter: blur(1px);
    z-index: -1;
}

.bamboo img{
    width: 100%;
    height: 100%;
}


.logo-principal img{
    width: 900px;
    max-width: 100%;
    height: auto;
    animation-name: logoOppacity;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}


/* menu sushis */

.sushis1, .sushi-section{
    display: flex;
    justify-content: center;
}

.sushis1 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
    /*background-color: red;*/
}

.sushis1 div {
    /*background-color: blue;*/
    padding: 10px;
}

.sushi-section {
    /*color: red;*/
    font-size: 25px;
    background-color: #dd1515;
    margin-bottom: 50px;
}

    /* divs inside sushis1 */

.food img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.nombres {
    display: flex;
    justify-content: center;
    font-size: 30px;
    background-image: url(./imagenes/mancha.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}

.lista-ingredientes {
    display: flex;
    justify-content: center;
}

.lista-ingredientes div{
    font-size: 15px;
}
